<!DOCTYPE html>
<html>
<head>
    <title>Maçlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
            NOHUTLUSPOR
        </div>
        <div class="menu">
        <a href="/">Ana Sayfa</a>
        <a href="/oyuncular">Oyuncular</a>
        <a href="/maclar">Maçlar</a>
        </div>
    </div>
<h1>Fikstür⚽</h1>

<div class="container">

{% for mac in maclar %}

    {% if "1 - 0" in mac %}
        <div class="match-card win">
            {{ mac }}
        </div>

    {% elif "0 - 1" in mac %}
        <div class="match-card loss">
            {{ mac }}
        </div>

    {% else %}
        <div class="match-card draw">
            {{ mac }}
        </div>
    {% endif %}

{% endfor %}

</div>

</body>
</html>